body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #191923;
}

h1 {
    margin: 0;
    color: #FBFEF9;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #639FAB;
    margin: 10vh auto;
    padding: 5vh;
    box-sizing: border-box;
    width: 50vw;
    height: 80vh;
    border-radius: 5%;
    gap: 20px;
}

#input-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

#todo-input {
    background-color: #639FAB;
    border: solid #FBFEF9 2px;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    width: 100%;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    background-color: #639FAB;
    color: #FBFEF9;
    padding: 0 20px;
    border: solid #FBFEF9 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FBFEF9;
    color: #639FAB;
}

#list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FBFEF9;
    background-color: #639FAB; /*#639FAB*/
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 5px;
}

.item-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

label {
    font-size: 18px;
}