body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #191923;
}

h1 {
    margin: 0;
    color: #FBFEF9;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #639FAB;
    box-sizing: border-box;
    gap: 20px;
    margin: 5em auto;
    width: 80%;
    height: 35em;
    max-width: 600px;
    border-radius: 1em;
    border: solid #FBFEF9 0.3em;
    padding: 2em 2em;
}

#input-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

#todo-input {
    background-color: #639FAB;
    color: #FBFEF9;
    border: solid #FBFEF9 2px;
    outline: none;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

#todo-input::placeholder {
    color: #E0E5DF;
}

.btn {
    background-color: #639FAB;
    color: #FBFEF9;
    border: solid #FBFEF9 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FBFEF9;
    color: #639FAB;
}

#list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #FBFEF9;
    border: solid #FBFEF9 0.1rem;
    background-color: #639FAB;
    overflow: auto;
    scrollbar-color: #639FAB #FBFEF9;
    scrollbar-width: thin;
    width: 100%;
    height: 100%;
}

.item-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

input[type="checkbox"] {
    flex-shrink: 0;
}

label {
    font-size: 1.25rem;

}
